@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/*リセットCSS*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*リセットCSSここまで*/
body {
  font-family: 'Noto Sans JP', sans-serif;
}
/*共通ボタン(header.main)*/
.contact-btn {
  display: block;
  width: 155px;
  height: 27px;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat;
  border-radius: 10px;
  text-align: center;
  line-height: 27px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

/*共通タイトル(sec01~05)*/
.sec-ttl {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  span {
    font-size: 16px;
    color: #3BA6C9;
    display: block;
    margin-top: 20px;
  }
}

.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 94px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    background-color: #fff;
    &-inner {
        max-width: 1022px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &-logo {
        display: flex;
        align-items: center;
        img {
            width: 47px;
            height: 47px;
        }
        .header-ttl {
            margin-left: 16px;
            font-size: 24px;
            font-weight: bold;
        }
    }
    &-nav {
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
            text-align: center;
            margin-right: 45px;
          a {
              color: #333333;
              text-decoration: none;
              font-weight: bold;
          }
        }
      }
    }
}
/*メイン*/
.main {
  background-image: url(../image/top-1.png);
  background-position: top -50px right -70px;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;

    &-inner {
      max-width: 1022px;
      margin-left: auto;
      margin-right: auto;
      padding: 100px 20px;
    }
    &-ttl {
      text-align: left;
      margin-top: 150px;
      h1 {
      font-size: 32px;
      line-height: 1.5;
      margin-bottom: 40px;
      font-weight: bold;
      }
      p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 40px;
      font-weight: bold;
      }
    }

    &-img {
      position: absolute;
      right: 15%;
      top: 30%;
      z-index: 1000;
    }
}
.sec01 {
  .sec-ttl {
    margin-bottom: 65px;
  }

  &-inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
  }

  &-block_ttl {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 93px;
    &_txt {
      font-weight: bold;
      line-height: 1.8;
      h4 {
        font-size: 24px;
        margin-bottom: 54px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
.sec02 {
  background-color: #EEFBFB;
  padding: 0 64px 128px;
  .sec-ttl {
    margin-bottom: 73px;
  }
  &-inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    th {
      width: 30%;
      padding: 30px;
      min-width: 300px;
      text-align: left;
      border: 1px solid #E5E5E5;
    }
    td {
      width: 70%;
      text-align: left;
      padding: 30px;
      border: 1px solid #E5E5E5;
      font-weight: bold;
    }
  }
  p {
    text-align: center;
    margin-top: 60px;
  }
}

.sec03 {
  padding: 0 64px 86px;
  &-inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
  }
    #acdn-button {
      margin-top: 40px;
    }

    #acdn-button dt {
      display:block;
      width: 100%;
      padding: 1rem;
      text-align: center;
      border: 1px solid #E5E5E5;
      cursor:pointer;
    }
    #acdn-button dd {
      background: #F2F2F2;
      width: 100%;
      padding: 1rem;
      line-height: 1.5;
      text-align: left;
      border: 1px solid #E5E5E5;
      display:none;
    }
}

.sec04 {
  background-color: #EEFBFB;
  &-inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
  }
  &-card_wrap {
    display: flex;
    justify-content: space-around;
    padding: 64px 0 91px;
  }
  &-card_list {
    background-color: #fff;
    width: calc((100% - 30px *2)/3);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      .sec04-card_link {
        text-decoration: none;
        color: #333333;
        img {
          max-width: 100%;
          box-sizing: border-box;
        }
        .sec04-card_ttl {
          text-align: left;
          font-size: 18px;
          line-height: 1.5;
          height: 91px;
          margin: 16px;
        }
        .sec04-card_time {
          text-align: right;
          font-size: 16px;
          height: 20px;
          margin:10px 16px 16px;
        }
      }
  }
}

.sec05 {
  &-inner {
    max-width: 1022px;
    margin-left: auto;
    margin-right: auto;
  }
  &-card_wrap {
    display: flex;
    justify-content: space-around;
    padding: 64px 0 91px;
  }
  .sec05-card_list + .sec05-card_list {
    margin-left: 30px;
  }
  &-card_list {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
      .sec05-card_link {
        text-decoration: none;
        color: #333333;

        .sec05-card_ttl {
          text-align: left;
          font-size: 16px;
          line-height: 1.5;
          margin: 18px;
        }
        p {
          text-align: left;
          font-size: 14px;
          line-height: 1.8;
          margin:18px;
        }
      }
  }
}

.sec06 {
  .sec06-ttl {
    background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    text-align: center;
    h2 {
      padding-top: 40px;
      font-size: 32px;
      font-weight: bold;
    span {
      font-size: 16px;
      display: block;
      margin-top: 20px;
    }
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      margin: 20px 0 20px;
    }
  }
}

footer {
  padding: 60px 0 50px;
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  p {
    margin-top: 60px;
    font-size: 14px;
  }
}